* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 45%;
  min-width: 20%;
  max-width: 120%;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;

}
.raw {
  margin-bottom: 80px;
  background-color: blue;
}

.photo {
  position: relative;
  width: 31%;
  height: 320px;
  float: left;
  display: inline-block;
  margin-left: 2%;
  background-color: red;

}